<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- IconSax -->
  <link href="https://iconsax.gitlab.io/i/icons.css" rel="stylesheet">
  <!-- Main CSS -->
  <link rel="stylesheet" href="../assets/css/main.css">
  <!-- Layout CSS -->
  <link rel="stylesheet" href="../assets/css/layout.css">
  <link rel="stylesheet" href="../assets/css/layout-new-detail.css">

</head>

<body>
  <div class="container">
    <header>
      <div class="header">
        <div class="header-logo">
          <a href="/">
            <img src="../assets/img/logo-shop-dunk.png" alt="logo">
          </a>
        </div>
        <div class="header-search">
          <form action="">
            <i class="iconsax header-search-icon" icon-name="search-normal-2"></i>
            <input type="text" placeholder="Search">
          </form>
        </div>
        <a href="/" class="header-options-cart">
          <i class="iconsax" icon-name="shopping-cart"></i>
          <span class="header-option-item-text">Giỏ hàng</span>
        </a>
        <div class="header-options-language">
          <div class="header-options-item">
            <div class="language-selector">
              <button id="current-lang">
                <img src="../assets/img/flag-vn-16-12.png" alt="Vietnamese Flag">
                <i class="iconsax" icon-name="chevron-down"></i>
              </button>
              <ul id="lang-options">
                <li data-lang="vn">
                  <img src="../assets/img/flag-vn-16-12.png" alt="Vietnamese Flag">
                  <span>Tiếng Việt</span>
                </li>
                <li data-lang="en">
                  <img src="../assets/img/flag-us-16-12.png" alt="English Flag">
                  <span>English</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navigation">
        <ul>
          <li>
            <a href="">Iphone</a>
          </li>
          <li>
            <a href="">Ipad</a>
          </li>
          <li>
            <a href="">Mac</a>
          </li>
          <li>
            <a href="">Watch</a>
          </li>
          <li>
            <a href="">Phu kien</a>
          </li>
          <li>
            <a href="">Am thanh</a>
          </li>
          <li>
            <a href="">Camera</a>
          </li>
          <li>
            <a href="">Gia dung</a>
          </li>
          <li>
            <a href="">May luot</a>
          </li>
          <li>
            <a href="">Tin tuc</a>
          </li>
          <li>
            <a href="">Dich vu</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <div class="main-content">
        <div class="new-layout-wrapper">
          <div class="new-layout-sidebar">
            <ul class="new-layout-sidebar-list">
              <li class="new-layout-sidebar-item">
                <a class="new-layout-sidebar-item-wrapper active" href="/">
                  <i class="iconsax" icon-name="home-1"></i>
                  <span class="new-layout-sidebar-item-text">Tin tức</span>
                </a>
              </li>
              <li class="new-layout-sidebar-item">
                <a class="new-layout-sidebar-item-wrapper" href="/">
                  <i class="iconsax" icon-name="document-text-2"></i>
                  <span class="new-layout-sidebar-item-text">Tin tức apple</span>
                </a>
              </li>
              <li class="new-layout-sidebar-item">
                <a class="new-layout-sidebar-item-wrapper" href="/">
                  <i class="iconsax" icon-name="edit-1"></i>
                  <span class="new-layout-sidebar-item-text">Bài review</span>
                </a>
              </li>
              <li class="new-layout-sidebar-item">
                <a class="new-layout-sidebar-item-wrapper" href="/">
                  <i class="iconsax" icon-name="globe"></i>
                  <span class="new-layout-sidebar-item-text">Khám phá</span>
                </a>
              </li>
              <li class="new-layout-sidebar-item">
                <a class="new-layout-sidebar-item-wrapper" href="/">
                  <i class="iconsax" icon-name="shopping-cart"></i>
                  <span class="new-layout-sidebar-item-text">Khuyễn mãi</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="new-layout-content">
            <div class="new-layout-content-banner">
              <img src="../assets/img/news/banner-1.png" alt="new-layout-content-banner">
            </div>
            <div class="new-layout-content-detail">
              <div class="new-layout-content-detail-title">
                <h1>MacBook Air M4 – Hàng mới 2025 ĐÃ VỀ ShopDunk!</h1>
              </div>
              <div class="new-layout-content-detail-date">
                <i class="iconsax" icon-name="calendar-1"></i>
                <span>22/08/2025</span>
              </div>
              <div class="new-layout-content-detail-body">
                <!-- Content detail-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="footer-upper">
        <div class="footer-block follow-us">
          <div class="footer-logo">
            <a href="/">
              <img src="../assets/img/logo-shop-dunk.png" alt="logo">
            </a>
          </div>
          <div class="topic">
            <p class="topic-text">
              Năm 2020, ShopDunk trở thành đại lý ủy quyền của Apple. Chúng tôi phát triển chuỗi cửa hàng tiêu chuẩn và
              Apple Mono Store nhằm mang đến trải nghiệm tốt nhất về sản phẩm và dịch vụ của Apple cho người dùng Việt
              Nam.
            </p>
            <div class="contact">
              <h4>Tong dai ho tro: </h4>
              <div class="contact-item">
                <span class="contact-item-title">Hotline: </span>
                <a href="tel:1900558868" class="contact-item-value">1900.6626 (08:00 - 22:00)</a>
              </div>
              <div class="contact-item">
                <span class="contact-item-title">Hotline: </span>
                <a href="tel:1900558868" class="contact-item-value">1900.6626 (08:00 - 22:00)</a>
              </div>
            </div>
          </div>
          <div class="social">
            <ul class="social-list">
              <li class="social-item">
                <a href="">
                  <img src="../assets/img/fb-icon.png" alt="facebook">
                </a>
              </li>
              <li class="social-item">
                <a href="">
                  <img src="../assets/img/tiktok-icon.png" alt="instagram">
                </a>
              </li>
              <li class="social-item">
                <a href="">
                  <img src="../assets/img/youtube-icon.png" alt="youtube">
                </a>
              </li>
              <li class="social-item">
                <a href="">
                  <img src="../assets/img/zalo-icon.png" alt="zalo">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-block information">
          <h5 class="information-title">Thông tin</h5>
          <ul class="information-list">
            <li class="information-item"><a href="/">Newfeeds</a></li>
            <li class="information-item"><a href="/">Giới thiệu</a></li>
            <li class="information-item"><a href="/">Check </a></li>
            <li class="information-item"><a href="/">Phương thức thanh toán</a></li>
            <li class="information-item"><a href="/">Thuê điểm bán lẻ</a></li>
            <li class="information-item"><a href="/">Bảo hành và sửa chữa</a></li>
            <li class="information-item"><a href="/">Tuyển dụng</a></li>
            <li class="information-item"><a href="/">Đánh giá</a></li>
            <li class="information-item"><a href="/">Tra cứu hoá đơn điện tử</a></li>
          </ul>
        </div>
        <div class="footer-block customer-service">
          <h5 class="customer-service-title">Chính sách</h5>
          <ul class="customer-service-list">
            <li class="customer-service-item"><a href="/">Thu cũ đổi mới</a></li>
            <li class="customer-service-item"><a href="/">Giao hàng</a></li>
            <li class="customer-service-item"><a href="/">Giao hàng (ZaloPay)</a></li>
            <li class="customer-service-item"><a href="/">Huỷ giao dịch</a></li>
            <li class="customer-service-item"><a href="/">Đổi trả</a></li>
            <li class="customer-service-item"><a href="/">Bảo hành</a></li>
            <li class="customer-service-item"><a href="/">Dịch vụ</a></li>
            <li class="customer-service-item"><a href="/">Giải quyết khiếu nại</a></li>
            <li class="customer-service-item"><a href="/">Bảo mật thông tin</a></li>
            <li class="customer-service-item"><a href="/">Thanh táon VNPay</a></li>
          </ul>
        </div>
        <div class="footer-block contact">
          <h5 class="contact-title">Địa chỉ & Liên hệ</h5>
          <ul class="contact-list">
            <li class="contact-item"><a href="/">Tài khoản của tôi</a></li>
            <li class="contact-item"><a href="/">Đơn đặt hàng</a></li>
            <li class="contact-item"><a href="/">Tìm store trên gg map</a></li>
            <li class="contact-item"><a href="/">Hệ thống cửa hàng</a></li>
            <li class="contact-item"><a href="/">Mua hàng</a></li>
            <li class="contact-item"><a href="/">Chi nhành: TP.HCM</a></li>
            <li class="contact-item"><a href="/">Doanh nghiệp</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-lower">
        <p class="footer-lower-text">
          © 2016 Công ty Cổ Phần HESMAN Việt Nam GPDKKD: 0107465657 do Sở KH & ĐT TP. Hà Nội cấp ngày 08/06/2016.
          <br />
          Địa chỉ: Số 76 Thái Hà, phường Trung Liệt, quận Đống Đa, thành phố Hà Nội, Việt Nam
          <br />
          Đại diện pháp luật: PHẠM MẠNH HÒA | ĐT: 0247.305.9999 | Email: lienhe@shopdunk.com
        </p>
        <div class="footer-lower-logo">
          <img src="../assets/img/bocongthuong.png" alt="Logo Bộ công thương">
        </div>
      </div>
    </footer>
  </div>
  <script src="../assets/js/layout.js"></script>
</body>

</html>