@keyframes scrollPulse {
  0%, 100% {
    width: 50px;
    opacity: 0.3;
  }
  50% {
    width: 70px;
    opacity: 0.8;
  }
}
/* Categories Filter */
.categories-filter {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto 20px;
}
.categories-filter-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.categories-filter-item-wrapper {
  position: relative;
  width: auto;
  height: 46px;
}
.categories-filter-item {
  width: auto;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(234, 236, 240, 1);
  padding: 4px 8px;
  gap: 5px;
}
.categories-filter-item-img {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f4f4f4;
  overflow: hidden;
}
.categories-filter-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categories-filter-item-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  color: #333;
}
/* End Categories Filter */
/* Brand List */
.brand-list-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto 20px;
}
.brand-list-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  color: #4a4a4a;
  margin-bottom: 15px;
}
.brand-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.brand-item-wrapper {
  width: auto;
  height: auto;
  padding: 7px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid rgba(234, 236, 240, 1);
}
.brand-item {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-item img {
  width: 100px;
  height: 20px;
  object-fit: cover;
}
/* End Brand List*/
/* Order */
.order-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
.order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.order-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  color: #4a4a4a;
}
.order-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.order-option {
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
  color: #444;
  background: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}
.order-option .iconsax {
  font-size: 16px;
}
.order-option .rotate-180 {
  transform: rotate(180deg);
}
/* End Order */
/* Product List */
.product-list-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 32px;
}
.product:first-child {
  margin-top: 12px;
}
.product-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  color: #1d1d1f;
  text-align: center;
}
.product-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 32px;
}
.product-item {
  position: relative;
  width: calc(25% - 9px);
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  padding: 24px 20px 16px;
  background-color: #fff;
}
.product-item:hover {
  border-color: #02010100;
  box-shadow: 1px 1px 28px 0px rgb(0 0 0 / 12%);
}
.product-item-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}
.product-item-header-ratio {
  border-radius: 4px;
  padding: 1px 15px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  position: absolute;
  top: 0;
  left: -5px;
  background: url(../img/price-ratio.png) left center no-repeat;
  width: auto;
  height: 31px;
  background-size: cover;
}
.product-item-header-tag {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 6px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  z-index: 2;
}
.product-item-header-tag.green {
  border: 1px solid green;
  color: green;
}
.product-item-header-tag.red {
  border: 1px solid red;
  color: red;
}
.product-item-header-tag.blue {
  border: 1px solid blue;
  color: blue;
}
.product-item-wrapper-link {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-item-img {
  max-width: 100%;
  max-height: 100%;
  margin: 25px 0 20px;
}
.product-item-img img {
  max-width: 100%;
  max-height: 100%;
}
.product-item-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 54px;
  font-weight: 700;
  line-height: 27px;
  font-size: 18px;
  color: #1d1d1f;
}
.product-item-price {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product-item-price .price-old {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #86868b;
  text-decoration: line-through;
}
.product-item-price .price-new {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #06c;
}
.view-more {
  text-align: center;
}
.view-more-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  padding: 5px 45px;
  border-radius: 8px;
  border: 1px solid #06c;
  color: #06c;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
}
.view-more-btn:hover {
  background-color: #06c;
  color: #fff;
}
.view-more-icon {
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
  color: #06c;
}
.view-more-btn:hover .view-more-icon {
  color: #fff;
}
/* End Product List */
/* Pagination */
.pagination-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pagination-item {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #1d1d1f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-item:hover {
  background: #ddd;
}
.pagination-item.active {
  background: #06c;
  color: #fff;
}
.pagination-item.hidden {
  display: none;
}
.pagination-item.active .iconsax {
  color: #fff;
}
.pagination-item .iconsax {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #1d1d1f;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .categories-filter-list {
    gap: 6px;
  }
  .product-list {
    flex-wrap: wrap;
    gap: 15px;
  }
  .product-item {
    width: calc(33.33% - 10px);
  }
  .product-item-header-tag {
    font-size: 10px;
    line-height: 16px;
  }
}
@media (max-width: 767px) {
  .categories-filter::after {
    content: "";
    position: absolute;
    bottom: -5px;               /* bám sát đáy */
    left: 50%;               /* canh giữa */
    transform: translateX(-50%); /* dịch để tâm thanh bar vào giữa */
    height: 5px;             /* độ dày scrollbar */
    width: 100px;              /* chiều dài thanh bar */
    background: rgba(0, 0, 0, 0.37);        /* màu bar */
    border-radius: 3px;
    animation: scrollPulse 6s infinite;
    pointer-events: none;    /* để click xuyên qua */
  }
  .categories-filter-list {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    overflow-x: auto;
    scrollbar-width: none;
    height: 97px !important;
    gap: 5px;
  }
  .categories-filter-item-wrapper {
    flex: 1 1 auto;
    height: calc(50% - 5px);
    max-height: calc(50% - 5px);
    min-width: 0;
  }
  .brand-list-wrapper::after {
    content: "";
    position: absolute;
    bottom: -5px;               /* bám sát đáy */
    left: 50%;               /* canh giữa */
    transform: translateX(-50%); /* dịch để tâm thanh bar vào giữa */
    height: 5px;             /* độ dày scrollbar */
    width: 100px;              /* chiều dài thanh bar */
    background: rgba(0, 0, 0, 0.37);        /* màu bar */
    border-radius: 3px;
    animation: scrollPulse 6s infinite;
    pointer-events: none;    /* để click xuyên qua */
  }
  .brand-list {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    overflow-x: auto;
    scrollbar-width: none;
    height: 77px !important;
    gap: 5px;
  }
  .brand-item-wrapper {
    flex: 1 1 auto;
    height: calc(50% - 5px);
    max-height: calc(50% - 5px);
    min-width: 0;
  }
}
@media (min-width: 541px) and (max-width: 767px) {
  .product-list {
    flex-wrap: wrap;
    gap: 15px;
  }
  .product-item {
    width: calc(33.33% - 10px);
  }
  .product-item-header-tag {
    font-size: 10px;
    line-height: 16px;
  }
}
@media (max-width: 540px){
  .product-list {
    flex-wrap: wrap;
    gap: 10px;
  }
  .product-item {
    width: calc(50% - 5px);
  }
  .product-item-header-tag {
    font-size: 8px;
    line-height: 12px;
  }
  .product-item-price {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
  }
  .product-item-price .price-old {
    font-size: 10px;
    line-height: 16px;
  }
  .product-item-price .price-new {
    font-size: 13px;
    line-height: 18px;
  }
}
