.container {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

header {
  width: 100%;
  background-color: #515154;
  position: sticky;
  top: 0;
  z-index: 5;
}

/* Header */
.header {
  display: flex;
  max-width: 1200px;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  gap: 10px;
}

/* Header Logo */
.header-logo {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 0;
}

.header-logo a {
  display: inline-block;
  max-width: 100%;
  line-height: 0;
}

.header-logo a img {
  max-width: 170px;
  max-height: 60px;
  opacity: 1;
  object-fit: cover;
}

/* End Header Logo */
/* Header Search */
.header-search {
  flex: 1;
}

.header-search form {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding-bottom: 0;
}

/* End Header Search */
/* Header Options */
.header-search form .iconsax {
  font-size: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 12px;
  top: 5px;
  z-index: 10;
  fill: red;
  color: #1d1d1f;
}

.header-search form input {
  width: 100%;
  background: #ffffff;
  border: unset;
  color: #1d1d1f;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 42px;
}

.header-options-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.header-options-language {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-option-item-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s;
}

.header-options-cart .iconsax {
  font-size: 24px;
  color: #fff;
  transition: color 0.2s;
}

/* End Header Options */
/* Language Selector */
.language-selector {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.language-selector button {
  display: flex;
  align-items: center;
  gap: 4px;
  background: transparent;
  border: unset;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;

  .iconsax {
    color: #fff;
    font-size: 15px !important;
  }
}

.language-selector ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 160px;
  z-index: 10;
}

.language-selector ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  cursor: pointer;
}

.language-selector ul li span {
  font-size: 14px;
  color: #777778;
}

.language-selector ul li:hover {
  background: #f0f0f0;
}

.language-selector.show ul {
  display: block;
}

/* End Language Selector */
/* Nav */
nav {
  width: 100%;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

nav ul li a {
  display: block;
  font-size: 15px;
  line-height: 20px;
  padding: 14px 16px;
  color: #d2d2d7;
  cursor: pointer;
}

nav ul li:first-child a {
  padding-left: 0px;
}

nav ul li:last-child a {
  padding-right: 0px;
}

nav ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  text-decoration-color: #ffffff;
}

/* End Nav */
/* Main */
.main {
  width: 100%;
  position: relative;
}

.main-content {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  background: #FFF;
}

/* End Main */
/* Footer */
.footer {
  width: 100%;
  text-align: center;
  background-color: #1d1d1f;
}
/* Footer Upper */
.footer-upper {
  display: flex;
  max-width: 1200px;
  padding: 64px 0px 21px;
  margin: 0 auto;
  border-bottom: 1px solid #515154;
}

.footer-upper .footer-block {
  float: right;
  text-align: left;
}
/* Footer Upper Follow Us */
.footer-upper .footer-block.follow-us {
  width: 30%;
  padding-bottom: 20px;
}
.follow-us .footer-logo {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font-size: 0;
}
.follow-us .footer-logo a {
  display: inline-block;
  max-width: 100%;
  line-height: 0;
}
.follow-us .footer-logo a img {
  max-width: 184px;
  max-height: 48px;
  object-fit: cover;
  opacity: 1;
}
.follow-us .topic {
  text-align: justify;
  line-height: 24px;
  font-size: 16px;
}

.follow-us .topic .topic-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #d2d2d7;
  padding: 8px 0px;
  margin: 10px 0px;
}
.follow-us .topic .contact {
  background-color: #ecf0f1;
  border-radius: 6px;
}
.follow-us .topic .contact h4 {
  padding: 15px 8px 10px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  color: #000000;
}
.follow-us .topic .contact .contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 0px;
  text-align: center;
}
.follow-us .topic .contact .contact-item .contact-item-title {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}
.follow-us .topic .contact .contact-item .contact-item-value {
  font-size: 18px;
  font-weight: bold;
  color: #06c;
}
.follow-us .social {
  position: inherit;
  margin-top: 18px;
}
.follow-us .social .social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.follow-us .social .social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* Footer Upper Information */
.footer-upper .footer-block.information {
  width: 25%;
  padding-left: 60px;
}
.footer-upper .footer-block.information .information-title {
  font-size: 15px;
  font-weight: bolder;
  line-height: 21px;
  margin-bottom: 15px;
  color: #d2d2d7;
}
.information .information-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.information .information-list .information-item a {
  font-size: 13px;
  line-height: 28px;
  color: #86868b;
}
/* Footer Upper Customer Service */
.footer-upper .footer-block.customer-service {
  width: 20%;
  padding-left: 60px;
}
.customer-service .customer-service-title {
  font-size: 15px;
  font-weight: bolder;
  line-height: 21px;
  margin-bottom: 15px;
  color: #d2d2d7;
}
.customer-service .customer-service-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.customer-service .customer-service-list .customer-service-item a {
  font-size: 13px;
  line-height: 28px;
  color: #86868b;
}
/* Footer Upper Contact */
.footer-upper .footer-block.contact {
  width: 25%;
  padding-left: 60px;
}
.contact .contact-title {
  font-size: 15px;
  font-weight: bolder;
  line-height: 21px;
  margin-bottom: 15px;
  color: #d2d2d7;
}
.contact .contact-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact .contact-list .contact-item a {
  font-size: 13px;
  line-height: 28px;
  color: #86868b;
}
/* End Footer Upper */
/* Footer Lower */
.footer-lower {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 20px 0px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-lower-text {
  text-align: left;
  font-size: 13px;
  line-height: 20px;
  color: #515154;
}
.footer-lower-logo {
  width: 140px;
}
.footer-lower-logo img {
  width: 140px;
  object-fit: cover;
}
/* End Footer Lower */
/* End Footer */
/* End Header */
@media (max-width: 1360px) {
  .language-selector ul {
    left: -120px;
  }
}
/* Tablet large (> 1024px) */
@media (min-width: 1024px) and (max-width: 1200px) {
  .footer-upper {
    max-width: 980px;
  }
  .footer-lower {
    max-width: 980px;
  }
}
/* Tablet small (540px - 1023px)*/
@media (min-width: 540px) and (max-width: 1023px) {
  nav {
    margin-top: 8px;
  }
  nav ul {
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #f5f5f7;
    height: 37px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    background-color: #fff;
  }
  nav ul li {
    width: auto;
    flex: 0 0 auto;
    white-space: nowrap;
    background-color: #fff;
  }
  nav ul li a {
    padding: 5px 6px 2px;
    color: #1d1d1f;
  }
  nav ul li:first-child a {
    padding-left: 6px;
  }

  nav ul li:last-child a {
    padding-right: 6px;
  }
  .footer-upper {
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 0px;
    margin: 0 auto;
    border-bottom: unset;
  }
  .footer-upper .footer-block {
    width: 95% !important;
    margin: 0 auto;
  }
  .footer-block.follow-us {
    margin: 0 auto;
  }
  .social-list {
    justify-content: center !important;
  }

  .footer-block.information {
    padding: 0 15px !important;
  }
  .footer-block.information .information-title {
    margin-bottom: unset !important;
    padding: 10px 0px 10px 15px;
    border-bottom: 1px solid #424245;
  }
  .footer-block.information .information-title:after {
    content: "\e9c4";
    float: right;
    font-family: "iconsax", sans-serif;
  }
  .footer-block.information.active .information-title:after {
    transform: rotate(90deg);
  }
  .footer-block.information.active .information-list {
    display: block;
    opacity: 1;
    max-height: 1000px;
    padding: 10px 15px !important;
    transition: padding 1s, opacity 1s, max-height 2s;
  }
  .footer-block.information .information-list {
    display: block;
    max-height: 0px;
    opacity: 0;
    padding: 0px 15px !important;
    transition: padding 1s, opacity 1s, max-height 2s;
  }
  .footer-block.information .information-list .information-item {
    padding: 10px 15px !important;
  }
  .footer-block.customer-service {
    padding: 0 15px !important;
  }
  .footer-block.customer-service .customer-service-title {
    margin-bottom: unset !important;
    padding: 10px 0px 10px 15px;
    border-bottom: 1px solid #424245;
  }
  .footer-block.customer-service .customer-service-title:after {
    content: "\e9c4";
    float: right;
    font-family: "iconsax", sans-serif;
  }
  .footer-block.customer-service.active .customer-service-title:after {
    transform: rotate(90deg);
  }
  .footer-block.customer-service.active .customer-service-list {
    display: block;
    max-height: 1000px;
    opacity: 1;
    padding: 10px 15px !important;
    transition: padding 1s, opacity 1s, max-height 2s;
  }
  .footer-block.customer-service .customer-service-list {
    display: block;
    max-height: 0px;
    opacity: 0;
    padding: 0px 15px !important;
    transition: padding 1s, opacity 1s, max-height 2s;
  }
  .footer-block.customer-service .customer-service-list .customer-service-item {
    padding: 10px 15px !important;
  }
  .footer-block.contact {
    padding: 0 15px !important;
  }
  .footer-block.contact .contact-title {
    margin-bottom: unset !important;
    padding: 10px 0px 10px 15px;
    border-bottom: 1px solid #424245;
  }
  .footer-block.contact .contact-title:after {
    content: "\e9c4";
    float: right;
    font-family: "iconsax", sans-serif;
  }
  .footer-block.contact.active .contact-title:after {
    transform: rotate(90deg);
  }
  .footer-block.contact.active .contact-list {
    display: block;
    max-height: 1000px;
    opacity: 1;
    padding: 10px 15px !important;
    transition: padding 1s, opacity 1s, max-height 2s;
  }
  .footer-block.contact .contact-list {
    display: block;
    max-height: 0px;
    opacity: 0;
    padding: 0px 15px !important;
    transition: padding 1s, opacity 1s, max-height 2s;
  }
  .footer-block.contact .contact-list .contact-item {
    padding: 10px 15px !important;
  }
  .footer-lower {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 10px 32px;
  }
}
/* Mobile */
@media (max-width: 539px) {
  header {
    position: relative;
  }
  .header {
    padding: 0 6px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px;
  }
  .header-logo {
    order: 2;
  }
  .header-search {
    order: 4;
    width: 100%;
    flex: unset;
  }
  .header-options-cart {
    order: 3;
    padding: 0px 12px;
  }
  .header-option-item-text {
    display: none;
  }
  .header-options-language {
    order: 1;
  }
  nav {
    margin-top: 8px;
  }
  nav ul {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid #f5f5f7;
    height: 37px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    background-color: #fff;
  }
  nav ul li {
    width: auto;
    flex: 0 0 auto;
    white-space: nowrap;
    background-color: #fff;
  }
  nav ul li a {
    padding: 5px 6px 2px;
    color: #1d1d1f;
  }
  nav ul li:first-child a {
    padding-left: 6px;
  }

  nav ul li:last-child a {
    padding-right: 6px;
  }
  .footer-upper {
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 0px;
    margin: 0 auto;
    border-bottom: unset;
  }
  .footer-upper .footer-block {
    width: 95% !important;
    margin: 0 auto;
  }
  .footer-block.follow-us {
    margin: 0 auto;
  }
  .social-list {
    justify-content: center !important;
  }

  .footer-block.information {
    padding: 0 15px !important;
  }
  .footer-block.information .information-title {
    margin-bottom: unset !important;
    padding: 10px 0px 10px 15px;
    border-bottom: 1px solid #424245;
  }
  .footer-block.information .information-title:after {
    content: "\e9c4";
    float: right;
    font-family: "iconsax", sans-serif;
  }
  .footer-block.information.active .information-title:after {
    transform: rotate(90deg);
  }
  .footer-block.information.active .information-list {
    display: block;
    opacity: 1;
    max-height: 1000px;
    padding: 10px 15px !important;
    transition: padding 1s, opacity 1s, max-height 2s;
  }
  .footer-block.information .information-list {
    display: block;
    max-height: 0px;
    opacity: 0;
    padding: 0px 15px !important;
    transition: padding 1s, opacity 1s, max-height 2s;
  }
  .footer-block.information .information-list .information-item {
    padding: 10px 15px !important;
  }
  .footer-block.customer-service {
    padding: 0 15px !important;
  }
  .footer-block.customer-service .customer-service-title {
    margin-bottom: unset !important;
    padding: 10px 0px 10px 15px;
    border-bottom: 1px solid #424245;
  }
  .footer-block.customer-service .customer-service-title:after {
    content: "\e9c4";
    float: right;
    font-family: "iconsax", sans-serif;
  }
  .footer-block.customer-service.active .customer-service-title:after {
    transform: rotate(90deg);
  }
  .footer-block.customer-service.active .customer-service-list {
    display: block;
    max-height: 1000px;
    opacity: 1;
    padding: 10px 15px !important;
    transition: padding 1s, opacity 1s, max-height 2s;
  }
  .footer-block.customer-service .customer-service-list {
    display: block;
    max-height: 0px;
    opacity: 0;
    padding: 0px 15px !important;
    transition: padding 1s, opacity 1s, max-height 2s;
  }
  .footer-block.customer-service .customer-service-list .customer-service-item {
    padding: 10px 15px !important;
  }
  .footer-block.contact {
    padding: 0 15px !important;
  }
  .footer-block.contact .contact-title {
    margin-bottom: unset !important;
    padding: 10px 0px 10px 15px;
    border-bottom: 1px solid #424245;
  }
  .footer-block.contact .contact-title:after {
    content: "\e9c4";
    float: right;
    font-family: "iconsax", sans-serif;
  }
  .footer-block.contact.active .contact-title:after {
    transform: rotate(90deg);
  }
  .footer-block.contact.active .contact-list {
    display: block;
    max-height: 1000px;
    opacity: 1;
    padding: 10px 15px !important;
    transition: padding 1s, opacity 1s, max-height 2s;
  }
  .footer-block.contact .contact-list {
    display: block;
    max-height: 0px;
    opacity: 0;
    padding: 0px 15px !important;
    transition: padding 1s, opacity 1s, max-height 2s;
  }
  .footer-block.contact .contact-list .contact-item {
    padding: 10px 15px !important;
  }
  .footer-lower {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 10px 32px;
  }
}
