.container {
  background-color: #FFF;
}

header {
  width: 100%;
  background-color: #515154;
  position: sticky;
  top: 0;
  z-index: 5;
}

/* Header */
.header {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

/* Header Logo */
.header-logo {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 0;
}

.header-logo a {
  display: inline-block;
  max-width: 100%;
  line-height: 0;
}

.header-logo a img {
  max-width: 170px;
  max-height: 60px;
  opacity: 1;
  object-fit: cover;
}

/* End Header Logo */
/* Header Search */
.header-search {
  width: 50%;
}

.header-search form {
  position: relative;
  width: 100%;
  max-width: 770px;
  margin: auto;
  padding-bottom: 0;
}

/* End Header Search */
/* Header Options */
.header-search form .iconsax {
  font-size: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 12px;
  top: 5px;
  z-index: 10;
  fill: red;
  color: #1d1d1f;
}

.header-search form input {
  width: 100%;
  background: #ffffff;
  border: unset;
  color: #1d1d1f;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 42px;
}

.header-options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 33%;
  gap: 20px;
}

.header-options-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s;
}

.header-options-item .iconsax {
  font-size: 24px;
  color: #fff;
  transition: color 0.2s;
}

/* End Header Options */
/* Language Selector */
.language-selector {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.language-selector button {
  display: flex;
  align-items: center;
  gap: 4px;
  background: transparent;
  border: unset;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;

  .iconsax {
    color: #fff;
    font-size: 15px !important;
  }
}

.language-selector ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 160px;
  z-index: 10;
}

.language-selector ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  cursor: pointer;
}

.language-selector ul li span {
  font-size: 14px;
  color: #777778;
}

.language-selector ul li:hover {
  background: #f0f0f0;
}

.language-selector.show ul {
  display: block;
}

/* End Language Selector */
/* Nav */
nav {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
}

nav ul li a {
  display: block;
  font-size: 15px;
  line-height: 20px;
  padding: 14px 16px;
  color: #d2d2d7;
  cursor: pointer;
}

nav ul li:first-child a {
  padding-left: 0px;
}

nav ul li:last-child a {
  padding-right: 0px;
}

nav ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  text-decoration-color: #ffffff;
}

/* End Nav */
/* Main */
.main {
  width: 100%;
  position: relative;
}

.main-content {
  width: 100%;
  position: relative;
  background: #F5F5F7;
}

.new-layout-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 30px 0 0 0;
}
.new-layout-sidebar {
  width: 250px;
  padding: 30px;
}
.new-layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.new-layout-sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.new-layout-sidebar-item {
  width: 100%;
}
.new-layout-sidebar-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.new-layout-sidebar-item-wrapper .iconsax {
  font-size: 22px;
  line-height: 24px;
  color: #1d1d1f;
}
.new-layout-sidebar-item-wrapper .new-layout-sidebar-item-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #1d1d1f;
}
.new-layout-sidebar-item-wrapper.active .new-layout-sidebar-item-text,
.new-layout-sidebar-item-wrapper:hover .new-layout-sidebar-item-text {
  color: #06c;
}
.new-layout-sidebar-item-wrapper.active .iconsax,
.new-layout-sidebar-item-wrapper:hover .iconsax {
  color: #06c;
}
.new-layout-content-banner {
  width: 100%;
  overflow: hidden;
}
.new-layout-content-banner img {
  width: 100%;
  height: 315px;
  object-fit: cover;
  border-radius: 16px;
}
.new-layout-content-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  padding: 4px 24px 8px 24px;
}
.new-layout-content-detail-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.new-layout-content-detail-title h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: #1D1D1F;
}
.new-layout-content-detail-date {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.new-layout-content-detail-date .iconsax {
  font-size: 22px;
  line-height: 24px;
  color: #86868B;
}
.new-layout-content-detail-date span {
  font-size: 16px;
  line-height: 24px;
  color: #86868B;
}
.new-layout-content-detail-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
/* End Main */
/* Footer */
.footer {
  width: 100%;
  text-align: center;
  background-color: #1d1d1f;
}
/* Footer Upper */
.footer-upper {
  display: flex;
  max-width: 1200px;
  padding: 64px 0px 21px;
  margin: 0 auto;
  border-bottom: 1px solid #515154;
}

.footer-upper .footer-block {
  float: right;
  text-align: left;
}
/* Footer Upper Follow Us */
.footer-upper .footer-block.follow-us {
  width: 30%;
  padding-bottom: 20px;
}
.follow-us .footer-logo {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font-size: 0;
}
.follow-us .footer-logo a {
  display: inline-block;
  max-width: 100%;
  line-height: 0;
}
.follow-us .footer-logo a img {
  max-width: 184px;
  max-height: 48px;
  object-fit: cover;
  opacity: 1;
}
.follow-us .topic {
  text-align: justify;
  line-height: 24px;
  font-size: 16px;
}

.follow-us .topic .topic-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #d2d2d7;
  padding: 8px 0px;
  margin: 10px 0px;
}
.follow-us .topic .contact {
  background-color: #ecf0f1;
  border-radius: 6px;
}
.follow-us .topic .contact h4 {
  padding: 18px 8px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  color: #000000;
}
.follow-us .topic .contact .contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 0px;
  text-align: center;
}
.follow-us .topic .contact .contact-item .contact-item-title {
  font-size: 13px;
  font-weight: bold;
  color: #000000;
}
.follow-us .topic .contact .contact-item .contact-item-value {
  font-size: 18px;
  font-weight: bold;
  color: #06c;
}
.follow-us .social {
  position: inherit;
  margin-top: 18px;
}
.follow-us .social .social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.follow-us .social .social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* Footer Upper Information */
.footer-upper .footer-block.information {
  width: 25%;
  padding-left: 60px;
}
.footer-upper .footer-block.information .information-title {
  font-size: 15px;
  font-weight: bolder;
  line-height: 21px;
  margin-bottom: 15px;
  color: #d2d2d7;
}
.information .information-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.information .information-list .information-item a {
  font-size: 13px;
  line-height: 28px;
  color: #86868b;
}
/* Footer Upper Customer Service */
.footer-upper .footer-block.customer-service {
  width: 20%;
  padding-left: 60px;
}
.customer-service .customer-service-title {
  font-size: 15px;
  font-weight: bolder;
  line-height: 21px;
  margin-bottom: 15px;
  color: #d2d2d7;
}
.customer-service .customer-service-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.customer-service .customer-service-list .customer-service-item a {
  font-size: 13px;
  line-height: 28px;
  color: #86868b;
}
/* Footer Upper Contact */
.footer-upper .footer-block.contact {
  width: 25%;
  padding-left: 60px;
}
.contact .contact-title {
  font-size: 15px;
  font-weight: bolder;
  line-height: 21px;
  margin-bottom: 15px;
  color: #d2d2d7;
}
.contact .contact-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact .contact-list .contact-item a {
  font-size: 13px;
  line-height: 28px;
  color: #86868b;
}
/* End Footer Upper */
/* Footer Lower */
.footer-lower {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 20px 0px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-lower-text {
  text-align: left;
  font-size: 13px;
  line-height: 20px;
  color: #515154;
}
.footer-lower-logo {
  width: 140px;
}
.footer-lower-logo img {
  width: 140px;
  object-fit: cover;
}
/* End Footer Lower */
/* End Footer */
/* End Header */
