/* Category Banner */
.category-banner-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 30px;
}
.category-banner {
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
}
.category-banner .slick-prev {
  background: #515154 !important;
  opacity: 0.1;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  left: 32px !important;
  z-index: 1;
}
.category-banner .slick-prev:hover {
  opacity: 0.7;
}
.category-banner .slick-prev::before {
  content: "\e8ec";
  font-family: "iconsax", sans-serif;
  font-size: 20px;
  color: #ffffff;
}
.category-banner .slick-next {
  background: #515154 !important;
  opacity: 0.1;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  right: 32px !important;
  z-index: 1;
}
.category-banner .slick-next:hover {
  opacity: 0.7;
}
.category-banner .slick-next::before {
  content: "\e9c4";
  font-family: "iconsax", sans-serif;
  font-size: 20px;
  color: #ffffff;
}
.category-banner .slick-dots {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 12px;
}
.category-banner.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.category-banner-item {
  width: 100%;
  margin: 0px auto;
}
.slick-slide img {
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 8px;
}
/* End Category Banner */