.new-layout-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 30px 0 0 0;
}
.new-layout-sidebar {
  width: 250px;
  padding: 30px;
}
.new-layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.new-layout-sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.new-layout-sidebar-item {
  width: 100%;
}
.new-layout-sidebar-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.new-layout-sidebar-item-wrapper .iconsax {
  font-size: 22px;
  line-height: 24px;
  color: #1d1d1f;
}
.new-layout-sidebar-item-wrapper .new-layout-sidebar-item-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #1d1d1f;
}
.new-layout-sidebar-item-wrapper.active .new-layout-sidebar-item-text,
.new-layout-sidebar-item-wrapper:hover .new-layout-sidebar-item-text {
  color: #06c;
}
.new-layout-sidebar-item-wrapper.active .iconsax,
.new-layout-sidebar-item-wrapper:hover .iconsax {
  color: #06c;
}
.new-layout-content-title {
  width: 100%;
  text-align: left;
}
.new-layout-content-title h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  color: #1d1d1f;
  margin-top: 20px;
}
.new-layout-content-search {
  width: 100%;
  max-width: 200px;
  text-align: left;
}
.new-layout-content-search form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.new-layout-content-search form input {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 0 10px;
}
.new-layout-content-search form button {
  border: unset;
  padding: 0;
  background: transparent;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.new-layout-content-search form button .iconsax {
  font-size: 20px;
  color: #1d1d1f;
}
.new-layout-content-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}
.new-layout-content-list .new-layout-content-item {
  width: calc(33.333% - 10px);
  max-width: calc(33.333% - 10px);
  height: 275px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  box-shadow: 0px 1px 8px rgb(0 0 0 / 4%);
  gap: 5px;
}
.new-layout-content-list
  .new-layout-content-item
  .new-layout-content-item-upper {
  width: 100%;
  height: 175px;
}
.new-layout-content-list
  .new-layout-content-item
  .new-layout-content-item-upper
  img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 10px;
}
.new-layout-content-list
  .new-layout-content-item
  .new-layout-content-item-lower {
  width: 100%;
  flex: 1;
  padding: 8px 12px 12px;
}
.new-layout-content-list
  .new-layout-content-item
  .new-layout-content-item-lower
  .new-layout-content-item-lower-title {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.new-layout-content-list
  .new-layout-content-item
  .new-layout-content-item-lower
  .new-layout-content-item-lower-title
  h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #1d1d1f;
}
.new-layout-content-list
  .new-layout-content-item
  .new-layout-content-item-lower
  .new-layout-content-item-lower-date {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.new-layout-content-list
  .new-layout-content-item
  .new-layout-content-item-lower
  .new-layout-content-item-lower-date
  .iconsax {
  font-size: 22px;
  line-height: 24px;
  color: #86868b;
}
.new-layout-content-list
  .new-layout-content-item
  .new-layout-content-item-lower
  .new-layout-content-item-lower-date
  span {
  font-size: 16px;
  line-height: 24px;
  color: #86868b;
}
.new-layout-content-pagination {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pagination-item {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #1d1d1f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-item:hover {
  background: #ddd;
}
.pagination-item.active {
  background: #06c;
  color: #fff;
}
.pagination-item.hidden {
  display: none;
}
.pagination-item.active .iconsax {
  color: #fff;
}
.pagination-item .iconsax {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #1d1d1f;
}
@media (max-width: 1240px) {
  .new-layout-wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 1000px) {
  .new-layout-sidebar {
    display: none;
  }
  .new-layout-content-title h1 {
    text-align: center;
  }
  .new-layout-content-list {
    flex-direction: row;
    gap: 20px;
  }
  .new-layout-content-item {
    width: calc(50% - 10px) !important;
    max-width: calc(50% - 10px) !important;
  }
}
@media (max-width: 539px) {
  .new-layout-content-item {
    width: 100% !important;
    max-width: 100% !important;
  }
}