.new-layout-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 30px 0 0 0;
}
.new-layout-sidebar {
  width: 250px;
  padding: 30px;
}
.new-layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.new-layout-sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.new-layout-sidebar-item {
  width: 100%;
}
.new-layout-sidebar-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.new-layout-sidebar-item-wrapper .iconsax {
  font-size: 22px;
  line-height: 24px;
  color: #1d1d1f;
}
.new-layout-sidebar-item-wrapper .new-layout-sidebar-item-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #1d1d1f;
}
.new-layout-sidebar-item-wrapper.active .new-layout-sidebar-item-text,
.new-layout-sidebar-item-wrapper:hover .new-layout-sidebar-item-text {
  color: #06c;
}
.new-layout-sidebar-item-wrapper.active .iconsax,
.new-layout-sidebar-item-wrapper:hover .iconsax {
  color: #06c;
}
.new-layout-content-banner {
  width: 100%;
  overflow: hidden;
}
.new-layout-content-banner img {
  width: 100%;
  height: 315px;
  object-fit: cover;
  border-radius: 16px;
}
.new-layout-content-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  padding: 4px 24px 8px 24px;
}
.new-layout-content-detail-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.new-layout-content-detail-title h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: #1D1D1F;
}
.new-layout-content-detail-date {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.new-layout-content-detail-date .iconsax {
  font-size: 22px;
  line-height: 24px;
  color: #86868B;
}
.new-layout-content-detail-date span {
  font-size: 16px;
  line-height: 24px;
  color: #86868B;
}
.new-layout-content-detail-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 1240px) {
  .new-layout-wrapper {
    padding: 0 20px;
  }
  .new-layout-sidebar {
    padding-top: 10px;
  }
}
@media (max-width: 1000px) {
  .new-layout-wrapper {
    padding: 0;
  }
  .new-layout-sidebar {
    display: none;
  }
  .new-layout-content-banner img {
    height: 220px;
  }
}